<div class="example-article">
<h2>Bitcoin Remains Most Popular Digital Currency on Dark Web</h2>

<p>Two professors at the Department of War Studies at King’s College London have published the results of their deep dive into The Onion Router, or Tor, network, which is designed to make it difficult to track the activity of online users.</p>

<p>The study found that websites offered illicit goods and services in 12 categories, including finance, and that bitcoin was still the digital currency of choice for conducting a wide range of other transactions.</p>

<p>“Bitcoin is the most common currency employed in all Tor hidden-services trade,” wrote Daniel Moore, a cyber-threat intelligence engineer in the Department of War Studies.</p>

<p>The report, "Cryptopolitik and the Darknet,” which appeared in the February-March edition of Survival: Global Politics and Strategy, analyzed about 300,000 web addresses, identifying 5,205 live websites, out of which 2,723 were classified as illicit with a “high degree of confidence.”</p>

<p>Of those, each was placed in one of twelve categories, including drugs, arms, and finance. The drugs category was the most frequently identified, with 423 websites, followed by finance with 327 websites. 1,021 websites were categorized as “other” by the research team.</p>

<p>Among the financial websites identified as illicit, there were three categories: bitcoin-based methods for money-laundering, stolen credit card numbers and trade in counterfeit currency.</p>

<p>Since the closure of the Silk Road in October 2013, the anonymity of Tor has been widely questioned. In October 2014 academics at the University of Luxembourg found that even with a combination of bitcoin and Tor, a user’s anonymity could be revealed with an attack costing about $2,500. Recent reporting from Motherboard indicates that the US government has, with the aid of researchers, identified ways of reducing anonymity within the Tor network.</p>

<p>But according to the latest report, coin-mixing services such as CleanCoin, which has been around since the end of 2013, can offer a sense of security by providing users change for their bitcoin from a wide variety of sources “making it almost impossible,” according to the site, to track the point of origin.</p>

<p>The report’s authors, which also included King's College professor and technology author Thomas Rid, crawled addresses featuring .onion during a two-month period between January and March 2015, scanning a maximum of 100 pages per site to help prevent bias as a result of particularly large sites.</p>
</div>